@import '_shims';
@import '_conditionals';
@import '_measurements';

$header-background-color: black;
$header-foreground-color: white;

#global-header {
  background-color: $header-background-color;
  width: 100%;

  .header-wrapper {
    background-color: $header-background-color;
    color: $header-foreground-color;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    @extend %contain-floats;
    @include media(tablet){
      padding-left: $gutter-half;
      padding-right: $gutter-half;
    }
    @include ie-lte(8) {
      width: 990px;
    }

    .header-global {
      @extend %contain-floats;
      .header-logo {
        @extend %contain-floats;
        float: left;

        @include media(desktop){
          width: 33.33%;
        }
        @media screen and (max-width: 379px) {
          width: auto;
          float: none;
        }

        .content {
          margin: 0 15px;
        }
      }
      .header-logo {
        margin: 5px 0 2px;
      }

      .header-app-name {
        float: left;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin: 0 15px;

        @include media(desktop){
          width: 33.33%;
        }
      }
    }
  }

  #logo {
    float: left;
    position: relative;
    top: 1px;

    height: 30px;
    overflow: visible;
    vertical-align: baseline;

    font-weight: bold;
    font-size: 30px;
    line-height: 1em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin-bottom: -1px;
    padding-bottom: 1px;

    img {
      position: relative;
      top: -5px;

      width: 246px;
      height: 36px;

      padding-right: 6px;

      float: left;
      display: inline;
      line-height: inherit;
      border: none;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom: 1px solid;
      padding-bottom: 0;
    }

    &:active {
      color: $light-blue;
    }
  }

  #log-in-out {
    font-size: 16px;
    float: right;
    margin-top: 12px;
    margin-right: 15px;

    a {
      color: inherit;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

/* Global header bar */

#global-header-bar {
  @include outer-block;
  .inner-block {
    @include inner-block;
  }
  .header-bar {
    height: 0px;
    @include ie-lte(8) {
      font-size: 0;
    }
  }
}
